.post {
  width: 100%;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  box-shadow: 0px 0px 16px -8px rgba(0, 0, 0, 0.68);
  margin: 30px 0;
}

.postWrapper {
  padding: 10px;
}

.postTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.postTopLeft {
  display: flex;
  align-items: center;
}

.postProfileImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}

.postUsername {
  font-size: 15px;
  font-weight: 500;
  margin: 0 10px;
  text-transform: capitalize;
}

.postDate {
  font-size: 12px;
}

.postCenter {
  margin: 6px 0;
}

.postImg {
  width: 100%;
  max-height: 500px;
  object-fit: contain;
}

.postBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.postBottomLeft {
  display: flex;
  align-items: center;
}

.likeIcon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
  cursor: pointer;
}

.postLikeCounter {
  font-size: 15px;
}

.postCommentText {
  cursor: pointer;
  border-bottom: 1px dashed gray;
  font-size: 15px;
}

textarea {
  resize: none;
  overflow: hidden;
  border-radius: 13px;
  width: 100%;
  padding: 4px 10px 0;
  background-color: rgb(242 242 242);
}
textarea:focus {
  outline: none;
}

.comment {
  display: flex;
  padding-top: 6px;
  height: 30px;
}

.commentButton {
  border: none;
  background: black;
  opacity: 0.7;

  border-radius: 5px;

  cursor: pointer;
  color: white;
  margin-left: 4px;
}

.commentSection {
  display: flex;
  padding: 10px;
}

.commenter {
  font-weight: 500;
  flex: 1;
  text-transform: capitalize;
}
.singleComment {
  flex: 7;
  padding-left: 4px;
}
.commentLabel {
  opacity: 0.8;
  margin-top: 10px;
}

.commentImg {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  object-fit: cover;
  /* margin-right: 10px; */
  padding-right: 3px;
}

.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content span {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content span:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.dropdown-content {
  right: 0;
}
